In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\lenovo\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [5]:
import pandas as pd
sample_data = {"name": ["dhiv", "sri", "laksh", "nisha", "seema"],
              "age": [25, 30, 22, 35, 28],
              "sub": ["tamil","english","maths","physics","chemistry"]}
df= pd.DataFrame(sample_data)
df

    name  age        sub
0   dhiv   25      tamil
1    sri   30    english
2  laksh   22      maths
3  nisha   35    physics
4  seema   28  chemistry

In [7]:
print(df.head())

    name  age        sub
0   dhiv   25      tamil
1    sri   30    english
2  laksh   22      maths
3  nisha   35    physics
4  seema   28  chemistry

In [9]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    5 non-null      object
 1   age     5 non-null      int64
 2   sub     5 non-null      object
dtypes: int64(1), object(2)
memory usage: 252.0+ bytes
None